In [230]:
import pandas as pd
import numpy as np

import os
import glob

In [231]:
# Log file from psychopy.
path_search=os.path.join('..',
                    'data', 
                    'logfiles_task01', 
                    'sub-01_BrainplaybackQuadrants_*_run-4.csv')

log_fn = glob.glob(path_search)[0]

In [232]:
#create a new lists by parsing the string using "," delimiter

head_tail = os.path.split(log_fn)
print(head_tail[1])

sub_id=head_tail[1].split("_")

print("Participant: ",sub_id[0])

run_id=sub_id[-1].split(".")
print("Run id: ",run_id[0])

sub-01_BrainplaybackQuadrants_2022-11-23_15h39.50.158_run-4.csv
Participant:  sub-01
Run id:  run-4

In [233]:
# run data
sub_id=sub_id[0]
run_id=run_id[0]

# default values
sess_id='01'
task_id='01RussCir'

In [234]:
# Create pandas dataframe to read data into data structure.
df_log=pd.read_csv(log_fn)

In [235]:
df_log.columns

Index(['MusicsSelect', 'musics', 'trials.thisRepN', 'trials.thisTrialN',
       'trials.thisN', 'trials.thisIndex', 'blocks.thisRepN',
       'blocks.thisTrialN', 'blocks.thisN', 'blocks.thisIndex',
       'trialsMusics.thisRepN', 'trialsMusics.thisTrialN',
       'trialsMusics.thisN', 'trialsMusics.thisIndex',
       'WelcomeMessage.started', 'Baseline1.started', 'Noise.started',
       'Baseline1.stopped', 'Noise.stopped', 'Baseline2.started',
       'Baseline2.stopped', 'MusicExcerpt.started', 'ISI.started',
       'MusicExcerpt.stopped', 'ISI.stopped', 'Baseline3.started',
       'GoodbyeText.started', 'Baseline3.stopped', 'GoodbyeText.stopped',
       'participant', 'session', 'trigger', 'date', 'expName',
       'psychopyVersion', 'frameRate', 'Unnamed: 36'],
      dtype='object')

In [236]:
# Select subset of columns
df_log_M=df_log.loc[:,["MusicsSelect", "musics","Baseline1.started", "Noise.started","Baseline2.started", "MusicExcerpt.started", "MusicExcerpt.stopped"]]

In [237]:
df_log_M

,MusicsSelect,musics,Baseline1.started,Noise.started,Baseline2.started,MusicExcerpt.started,MusicExcerpt.stopped
0,MusicListQ3.csv,music\Q3\MT0003037754.wav,33.288353,45.234116,57.234887,69.285010,80.794596
1,MusicListQ3.csv,music\Q3\MT0028698324.wav,NaN,NaN,NaN,81.284788,92.792994
2,MusicListQ3.csv,music\Q3\MT0005217073.wav,NaN,NaN,NaN,93.285238,104.794384
3,MusicListQ3.csv,NaN,NaN,NaN,NaN,NaN,NaN
4,MusicListQ2.csv,music\Q2\MT0004316859.wav,105.241319,117.236865,129.243493,141.303671,152.815136
5,MusicListQ2.csv,music\Q2\MT0006746691.wav,NaN,NaN,NaN,153.256670,164.775365
6,MusicListQ2.csv,music\Q2\MT0029099688.wav,NaN,NaN,NaN,165.255533,176.766282
7,MusicListQ2.csv,NaN,NaN,NaN,NaN,NaN,NaN
8,MusicListQ1.csv,music\Q1\MT0006747288.wav,177.264463,189.239230,201.245466,213.290573,224.795866
9,MusicListQ1.csv,music\Q1\MT0003603772.wav,NaN,NaN,NaN,225.257699,236.765597
10,MusicListQ1.csv,music\Q1\MT0029492542.wav,NaN,NaN,NaN,237.274781,248.776247
11,MusicListQ1.csv,NaN,NaN,NaN,NaN,NaN,NaN
12,MusicListQ4.csv,music\Q4\MT0030495725.wav,249.271739,261.241862,273.245910,285.326477,296.835473
13,MusicListQ4.csv,music\Q4\MT0003710207.wav,NaN,NaN,NaN,297.310251,308.815604
14,MusicListQ4.csv,music\Q4\MT0007064420.wav,NaN,NaN,NaN,309.310651,320.814742
15,MusicListQ4.csv,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,MusicListQ3.csv,music\Q3\MT0015665796.wav,321.303022,333.295011,345.312119,357.361750,368.874667
18,MusicListQ3.csv,music\Q3\MT0002087541.wav,NaN,NaN,NaN,369.362796,380.876370
19,MusicListQ3.csv,music\Q3\MT0005520274.wav,NaN,NaN,NaN,381.363237,392.866057
20,MusicListQ3.csv,NaN,NaN,NaN,NaN,NaN,NaN
21,MusicListQ4.csv,music\Q4\MT0007207968.wav,393.313933,405.299284,417.304784,429.381403,440.885823
22,MusicListQ4.csv,music\Q4\MT0002448379.wav,NaN,NaN,NaN,441.365406,452.876422
23,MusicListQ4.csv,music\Q4\MT0030286920.wav,NaN,NaN,NaN,453.365848,464.875323
24,MusicListQ4.csv,NaN,NaN,NaN,NaN,NaN,NaN
25,MusicListQ1.csv,music\Q1\MT0007147603.wav,465.342205,477.287705,489.299833,501.367012,512.874861
26,MusicListQ1.csv,music\Q1\MT0028445777.wav,NaN,NaN,NaN,513.368029,524.874953
27,MusicListQ1.csv,music\Q1\MT0002894033.wav,NaN,NaN,NaN,525.334978,536.835440
28,MusicListQ1.csv,NaN,NaN,NaN,NaN,NaN,NaN
29,MusicListQ2.csv,music\Q2\MT0028213435.wav,537.320252,549.302593,561.305141,573.386771,584.887335
30,MusicListQ2.csv,music\Q2\MT0006862088.wav,NaN,NaN,NaN,585.370517,596.872723
31,MusicListQ2.csv,music\Q2\MT0003546058.wav,NaN,NaN,NaN,597.354193,608.854689
32,MusicListQ2.csv,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [238]:
# Select subset of columns
df_last_bl=df_log.loc[:,["Baseline3.started", "Baseline3.stopped"]]

# Remove rows with NaN - nor necessary for this event files.
df_last_bl=df_last_bl.dropna(how="any")

## Get Quadrants selected by participant

In [239]:
def getQ(row):  
    t = row['music.id'].split('/')
    return (f'{t[3]}')

def categorise(row):  
    if row['mouse.x'] > 0 and row['mouse.y'] > 0:
        return 'Q1'
    elif row['mouse.x'] < 0 and row['mouse.y'] > 0:
        return 'Q2'
    elif row['mouse.x'] < 0  and row['mouse.y'] < 0:
        return 'Q3'
    return 'Q4'

In [240]:
full_list = os.listdir(os.path.join('..',
                    'music_characterization_stim', 
                    'data'))


# list to store files
csv_file = []

# participant idx
p = sub_id.split('-')[1]

# run idx
r = run_id.split('-')[1]
r = str(r).zfill(2)

print("Participant (idx), run (idx): ",p, r)



# identify csv file for each run
tok_filename = f'{p}_{r}'

# Iterate directory
for file in full_list:
    # check only text files
    if file.startswith(tok_filename) and file.endswith('.csv'):
        csv_file.append(file)
        
df_Q = pd.read_csv(os.path.join('..',
                    'music_characterization_stim', 
                    'data', 
                    csv_file[0]))

# Last row NaN.
df_Q = df_Q[:24]
    
# Select rows of interest.
df_Q=df_Q[['music.id','mouse.x','mouse.y']]

# Extract position from mouse columns.
df_Q['mouse.x'] = df_Q['mouse.x'].str[1:-1].astype(float)
df_Q['mouse.y'] = df_Q['mouse.y'].str[1:-1].astype(float)

# extract Q from music filename.
df_Q['music.id_project'] = df_Q.apply(lambda row: getQ(row), axis=1)

# Get Q from mouse click position.
df_Q['Quadrants.participant'] = df_Q.apply(lambda row: categorise(row), axis=1)

# select each music and look for new id
df_log_M['musics']

QperPart=[]

VperPart=[]
AperPart=[]

for index, row in df_log_M.iterrows():
    #print(index, row['musics'])
    if row['musics'] == row['musics']:
        toks=row['musics'].split("\\")
        musictok=toks[2]
        # print(musictok, toks[1], index)
        
        #find music in classification dataframe
        musics_dfQ = df_Q.loc[df_Q['music.id'].str.contains(musictok, case=False)]
        
        # print(musics_dfQ['Quadrants.participant'].values[0])

        VperPart.append(musics_dfQ['mouse.x'].values[0])
        AperPart.append(musics_dfQ['mouse.y'].values[0])
        QperPart.append(musics_dfQ['Quadrants.participant'].values[0])
    else:
        VperPart.append(np.NaN)
        AperPart.append(np.NaN)
        QperPart.append(np.NaN)
        

# print(QperPart)
df_log_M['musicsQperPart'] = QperPart
df_log_M['Valence'] = VperPart
df_log_M['Arousal'] = AperPart

df_log_M.head(10)

Participant (idx), run (idx):  01 04

,MusicsSelect,musics,Baseline1.started,Noise.started,Baseline2.started,MusicExcerpt.started,MusicExcerpt.stopped,musicsQperPart,Valence,Arousal
0,MusicListQ3.csv,music\Q3\MT0003037754.wav,33.288353,45.234116,57.234887,69.285010,80.794596,Q3,-0.18000,-0.03750
1,MusicListQ3.csv,music\Q3\MT0028698324.wav,NaN,NaN,NaN,81.284788,92.792994,Q3,-0.18250,-0.17625
2,MusicListQ3.csv,music\Q3\MT0005217073.wav,NaN,NaN,NaN,93.285238,104.794384,Q4,0.30875,-0.20625
3,MusicListQ3.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MusicListQ2.csv,music\Q2\MT0004316859.wav,105.241319,117.236865,129.243493,141.303671,152.815136,Q2,-0.21875,0.11625
5,MusicListQ2.csv,music\Q2\MT0006746691.wav,NaN,NaN,NaN,153.256670,164.775365,Q2,-0.28875,0.33250
6,MusicListQ2.csv,music\Q2\MT0029099688.wav,NaN,NaN,NaN,165.255533,176.766282,Q2,-0.27125,0.31875
7,MusicListQ2.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,MusicListQ1.csv,music\Q1\MT0006747288.wav,177.264463,189.239230,201.245466,213.290573,224.795866,Q1,0.06125,0.33250
9,MusicListQ1.csv,music\Q1\MT0003603772.wav,NaN,NaN,NaN,225.257699,236.765597,Q2,-0.12750,0.08125

In [241]:
max_valence = np.max(np.abs(df_log_M['Valence']))
max_arousal = np.max(np.abs(df_log_M['Arousal']))

print(f'maximum of valence: {max_valence}, arousal: {max_arousal} \n')

maximum of valence: 0.30875, arousal: 0.3325

## Create BIDS

In [242]:
# Create pandas dataframe with columns required by the BIDS standard.
bids={'onset':[],'duration':[],'trial_type':[],'valence':[],'arousal':[], 'music_quadrant':[], 'participant_quadrant':[]}
df_bids=pd.DataFrame(bids)

In [243]:
df_log_M.columns

Index(['MusicsSelect', 'musics', 'Baseline1.started', 'Noise.started',
       'Baseline2.started', 'MusicExcerpt.started', 'MusicExcerpt.stopped',
       'musicsQperPart', 'Valence', 'Arousal'],
      dtype='object')

In [244]:
#number of decimals when rounding numbers
decimals=2

# offset of the experiment in seconds (seconds until first baseline.)
exp_offset=df_log_M.iloc[0]["Baseline1.started"]

# considering the log file, add rows for each event.

# For each row:
for i in range(len(df_log_M)-1):
    if not np.isnan(df_log_M.iloc[i]["Baseline1.started"]):
        # Add Baseline trial.
        df_bids.loc[len(df_bids.index)] = [np.round(df_log_M.iloc[i]["Baseline1.started"]-exp_offset, decimals),
                                           np.round(df_log_M.iloc[i]["Noise.started"]-df_log_M.iloc[i]["Baseline1.started"],decimals),
                                          'Baseline', 0.00, 0.00, 'NA', 'NA'] 
        # Add Noise trial.
        df_bids.loc[len(df_bids.index)] = [np.round(df_log_M.iloc[i]["Noise.started"]-exp_offset, decimals),
                                           np.round(df_log_M.iloc[i]["Baseline2.started"]-df_log_M.iloc[i]["Noise.started"],decimals),
                                          'Noise', 0.00, 0.00, 'NA', 'NA'] 
        # Add Baseline2 trial.
        df_bids.loc[len(df_bids.index)] = [np.round(df_log_M.iloc[i]["Baseline2.started"]-exp_offset, decimals),
                                           np.round(df_log_M.iloc[i]["MusicExcerpt.started"]-df_log_M.iloc[i]["Baseline2.started"],decimals),
                                          'Baseline', 0.00, 0.00, 'NA', 'NA'] 

        # Add Music trial.
        df_bids.loc[len(df_bids.index)] = [np.round(df_log_M.iloc[i]["MusicExcerpt.started"]-exp_offset, decimals),
                                           np.round(df_log_M.iloc[i]["MusicExcerpt.stopped"]-df_log_M.iloc[i]["MusicExcerpt.started"], decimals),
                                           'music',
                                            np.abs(np.round(df_log_M.iloc[i]["Valence"]/max_valence, decimals)),
                                            np.abs(np.round(df_log_M.iloc[i]["Arousal"]/max_arousal, decimals)),
                                            df_log_M.iloc[i]["MusicsSelect"][-6:-4],
                                            df_log_M.iloc[i]["musicsQperPart"]] 
        
    
    elif not np.isnan(df_log_M.iloc[i]["MusicExcerpt.started"]):
    
        # Add Music trial.
        df_bids.loc[len(df_bids.index)] = [np.round(df_log_M.iloc[i]["MusicExcerpt.started"]-exp_offset, decimals),
                                           np.round(df_log_M.iloc[i]["MusicExcerpt.stopped"]-df_log_M.iloc[i]["MusicExcerpt.started"], decimals),
                                           'music',
                                            np.abs(np.round(df_log_M.iloc[i]["Valence"]/max_valence, decimals)),
                                            np.abs(np.round(df_log_M.iloc[i]["Arousal"]/max_arousal, decimals)),
                                            df_log_M.iloc[i]["MusicsSelect"][-6:-4],
                                            df_log_M.iloc[i]["musicsQperPart"]]

In [245]:
df_bids.head(20)

,onset,duration,trial_type,valence,arousal,music_quadrant,participant_quadrant
0,0.00,11.95,Baseline,0.00,0.00,NA,NA
1,11.95,12.00,Noise,0.00,0.00,NA,NA
2,23.95,12.05,Baseline,0.00,0.00,NA,NA
3,36.00,11.51,music,0.58,0.11,Q3,Q3
4,48.00,11.51,music,0.59,0.53,Q3,Q3
5,60.00,11.51,music,1.00,0.62,Q3,Q4
6,71.95,12.00,Baseline,0.00,0.00,NA,NA
7,83.95,12.01,Noise,0.00,0.00,NA,NA
8,95.96,12.06,Baseline,0.00,0.00,NA,NA
9,108.02,11.51,music,0.71,0.35,Q2,Q2
10,119.97,11.52,music,0.94,1.00,Q2,Q2
11,131.97,11.51,music,0.88,0.96,Q2,Q2
12,143.98,11.97,Baseline,0.00,0.00,NA,NA
13,155.95,12.01,Noise,0.00,0.00,NA,NA
14,167.96,12.05,Baseline,0.00,0.00,NA,NA
15,180.00,11.51,music,0.20,1.00,Q1,Q1
16,191.97,11.51,music,0.41,0.24,Q1,Q2
17,203.99,11.50,music,0.90,0.10,Q1,Q3
18,215.98,11.97,Baseline,0.00,0.00,NA,NA
19,227.95,12.00,Noise,0.00,0.00,NA,NA

In [246]:
# Create tsv file.
fn=f"{sub_id}_ses-{sess_id}_task-{task_id}_{run_id}_events.tsv"

print(fn)
df_bids.to_csv(os.path.join('bids-events-files',fn), sep="\t", index=False)

sub-01_ses-01_task-01RussCir_run-4_events.tsv

In [247]:
del df_bids